<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- fonts for the page -->
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!-- Styling all cards and containers used on the page-->
    <link rel="stylesheet" href="../stylesheets/general.css">
    <!-- Styling all buttons and input boxes used on the page-->
    <link rel="stylesheet" href="../stylesheets/buttonsinputs.css">
    <!-- Styling all headers and text used on the page-->
    <link rel="stylesheet" href="../stylesheets/headerstext.css">
    <!-- Styling all cards and containers used on the page-->
    <link rel="stylesheet" href="../stylesheets/dashboardSpecs.css">

  </head>

  <body>

    <!--
     ==========================================================================================================================================
     Title
     ==========================================================================================================================================
    -->


    <!--
     ==========================================================================================================================================
     Selection Main Page Menu
     ==========================================================================================================================================
    -->

    <main class = "dashboard" id = "wrap">

      <!--
       ==========================================================================================================================================
       main side menu
       ==========================================================================================================================================
      -->
      <div class = "main menu side font-dark">

        <div class = " option-bar title hidden">
          <h1>
            TAMPA
          </h1>
        </div>

        <div class="option_bar hidden font-dark">

          <a class="option" href = "/home"> SERVICES </a>

          <a class="option" href = "#"> REPORTS </a>

          <a class="option" href = "#"> QUEUE </a>

        </div>

      </div>

      <!--
       ==========================================================================================================================================
       User Name
       ==========================================================================================================================================
      -->

      <div class="username">
       <h5><%= user.local.name %></h5>
       <nav class="my-2 my-md-0 mr-md-3">
           <a class="my-0 mr-md-auto text-dark dropdown" data-toggle="dropdown" href="#"><span class="fa fa-cog"></span >
           </a>
             <div class="dropdown-menu text-dark">
               <a class="p-2 logout links" href="/logout" onclick="clearCookies();"><span class="fa fa-unlock"></span> Log out</a>
             </div>
       </nav>
      </div>

      <div class = "main content feed">

        <!--
         ==========================================================================================================================================
         Services Dashboards
         ==========================================================================================================================================
        -->

        <div class = "content_section hidden container feed_container resizable">

          <!--
           ==========================================================================================================================================
           section label
           ==========================================================================================================================================
          -->
          <h2 class = "label">
            FEED
          </h2>

          <% for(var i=0; i < results.data.length; i++) {%>
            <% if(results.data[i].picture == null){ %>
              <a class = "clickable" href = "<%= results.data[i].id %>" data-toggle="modal" data-target="#<%= results.data[i].id %>">
                <div class="post">

                  <div class=" navbar-collapse" id="navbarsExample02">

                    <% if(results.data[i].story != null){ %>
                      <p class = "complete-length story">
                        <%= results.data[i].story %>
                      </p>
                    <% } %>

                    <p class = "complete-length message">
                      <%= results.data[i].message %>
                    </p>

                    <div class="time right">
                      <p>
                        <%= results.data[i].created_time.replace("T", ' ').replace(/\+.+/, '').split(" ",2)[1].split(":",2)[0] %>
                        :
                        <%= results.data[i].created_time.replace("T", ' ').replace(/\+.+/, '').split(" ",2)[1].split(":",2)[1] %>
                      </p>
                    </div>
                  </div>
                </div>
              </a>
            <% } else { %>
              <a class = "clickable" href = "<%= results.data[i].id %>" id="post" data-toggle="modal" data-target="#<%= results.data[i].id %>">
                <div class = "post">

                  <% if(results.data[i].story != null){ %>
                    <p class = "complete-length story">
                      <%= results.data[i].story %>
                    </p>
                  <% } %>

                  <% for(var j=0; j < results.data[i].attachments.data.length; j++) {%>
                    <% if(results.data[i].attachments.data[j].subattachments != null){ %>
                      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img class="d-block w-100" src = "<%= results.data[i].attachments.data[j].subattachments.data[0].media.image.src %>">
                          </div>
                          <% for(var k=1; k < results.data[i].attachments.data[j].subattachments.data.length; k++) {%>
                            <div class="carousel-item">
                              <img class="d-block w-100" src = "<%= results.data[i].attachments.data[j].subattachments.data[k].media.image.src %>">
                            </div>
                          <% } %>
                        </div>
                      </div>
                  <% } else { %>
                    <div class = "col-md-4 single">
                      <div class = "content_item">
                        <img src = "<%= results.data[i].attachments.data[j].media.image.src %>">
                      </div>
                    </div>
                  <% } %>
                <% } %>
                <p class = "complete-length message">
                  <%= results.data[i].message %>
                </p>
                <div class="time right">
                  <p>
                    <%= results.data[i].created_time.replace("T", ' ').replace(/\+.+/, '').split(" ",2)[1].split(":",2)[0] %>
                    :
                    <%= results.data[i].created_time.replace("T", ' ').replace(/\+.+/, '').split(" ",2)[1].split(":",2)[1] %>
                  </p>
                </div>
              </div>
            </a>
          <% } %>

          <% if(results.data[i].comments != null) { %>
            <!-- Modal -->
            <div class="modal fade" id="<%= results.data[i].id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Comments</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class = "comment-list hidden <%= results.data[i].id %>" >
                      <div class = "message comments">
                        <div class = "story">
                          <% if(results.data[i].message) { %>
                            <%= results.data[i].message %>
                          <% } %>

                          <% for(var j = 0; j < results.data[i].comments.data.length; j++) { %>
                            <% if(results.data[i].picture != null){ %>
                              <% if(results.data[i].attachments.data[j] != null){ %>

                                <% if(results.data[i].attachments.data[j].subattachments != null){ %>
                                  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                      <div class="carousel-item active">
                                        <img class="d-block w-100" src = "<%= results.data[i].attachments.data[j].subattachments.data[0].media.image.src %>">
                                      </div>
                                      <% for(var k=1; k < results.data[i].attachments.data[j].subattachments.data.length; k++) {%>
                                        <div class="carousel-item">
                                          <img class="d-block w-100" src = "<%= results.data[i].attachments.data[j].subattachments.data[k].media.image.src %>">
                                        </div>
                                      <% } %>
                                    </div>
                                  </div>
                                <% } else { %>
                                  <% if(results.data[i].attachments.data[j].media != null) { %>
                                  <% } %>
                                <% } %>
                              <% } %>
                            <% } %>
                          <% } %>
                        </div>
                        <div class = "user_comment">

                          <% for(var j = 0; j < results.data[i].comments.data.length; j++) { %>

                            <% if(results.data[i].comments.data[j].message != null) { %>

                              <p>
                                <span class="right time">
                                    <%= results.data[i].comments.data[j].created_time.replace("T", ' ').replace(/\+.+/, '').split(" ",2)[1].split(":",2)[0] %>
                                    :
                                    <%= results.data[i].comments.data[j].created_time.replace("T", ' ').replace(/\+.+/, '').split(" ",2)[1].split(":",2)[1] %>
                                </span>
                                <% if(results.data[i].comments.data[j].from != null) { %>
                                  <span class = "bold">
                                    <%= results.data[i].comments.data[j].from.name %>
                                  </span>
                                <% } %>
                                <%= results.data[i].comments.data[j].message %>
                              </p>


                              <% if(results.data[i].comments.data[j].comments != null) { %>
                                <% for(var k = 0; k < results.data[i].comments.data[j].comments.data.length; k++) { %>
                                  <p class = "comment_reply">
                                    <span class="bold">
                                      <% if(results.data[i].comments.data[j].from != null) { %>
                                        <%= results.data[i].comments.data[j].comments.data[k].from.name %>
                                      <% } %>
                                    </span>
                                    <%= results.data[i].comments.data[j].comments.data[k].message %>
                                  </p>
                                <% } %>
                              <% } %>

                              <a class = "left reply-btn" href = "<%= results.data[i].id %>-<%= j %>">
                                reply
                              </a>

                              <div class = "reply reply-<%= results.data[i].id %>-<%= j %> hidden" >
                                <form class="reply-form" action = "/facebook/feed" method = "post" id = "reply-<%= results.data[i].id %>-<%= j %>">
                                  <input type = "hidden" value = "<%= account_id %>" name = "account_id"/>
                                  <input class="form-control" value = "<%= results.data[i].comments.data[j].id %>" type="hidden" name = "comment_id">
                                  <input class="form-control" value = "<%= token %>" type="hidden" name = "access_token">
                                  <input class="form-control" placeholder="Reply" type="text" name = "message">
                                  <button id = "comment_button" type = "submit"><span class = "fas fa-location-arrow"></span></button>
                                </form>
                              </div>

                            <% } %>
                          <% } %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% } else { %>
            <!-- Modal -->
            <div class="modal fade" id="<%= results.data[i].id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Comments</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class = "comment-list hidden <%= results.data[i].id %>" >
                      <div class = "message comments">
                        <div class = "story">
                          <% if(results.data[i].message) { %>
                            <%= results.data[i].message %>
                          <% } %>

                          <% for(var j = 0; j < results.data[i].attachments.data.length; j++) { %>
                            <% if(results.data[i].picture != null){ %>
                              <% if(results.data[i].attachments.data[j] != null){ %>

                                <% if(results.data[i].attachments.data[j].subattachments != null){ %>
                                  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                      <div class="carousel-item active">
                                        <img class="d-block w-100" src = "<%= results.data[i].attachments.data[j].subattachments.data[0].media.image.src %>">
                                      </div>
                                      <% for(var k=1; k < results.data[i].attachments.data[j].subattachments.data.length; k++) {%>
                                        <div class="carousel-item">
                                          <img class="d-block w-100" src = "<%= results.data[i].attachments.data[j].subattachments.data[k].media.image.src %>">
                                        </div>
                                      <% } %>
                                    </div>
                                  </div>
                                <% } else { %>
                                  <% if(results.data[i].attachments.data[j].media != null) { %>
                                  <% } %>
                                <% } %>
                              <% } %>
                            <% } %>
                          <% } %>
                        </div>

                        <a class = "left reply-btn" href = "<%= results.data[i].id %>-<%= j %>">
                          reply
                        </a>

                        <div class = "reply reply-<%= results.data[i].id %>-<%= j %> hidden" >
                          <form class="reply-form" action = "/facebook/feed" method = "post" id = "reply-<%= results.data[i].id %>-<%= j %>">
                            <input type = "hidden" value = "<%= account_id %>" name = "account_id"/>
                            <input class="form-control" value = "<%= results.data[i].id %>" type="hidden" name = "comment_id">
                            <input class="form-control" value = "<%= token %>" type="hidden" name = "access_token">
                            <input class="form-control" placeholder="Reply" type="text" name = "message">
                            <button id = "comment_button" type = "submit"><span class = "fas fa-location-arrow"></span></button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% } %>
        <% } %>

      </div>
    </main>

    <!--
     ==========================================================================================================================================
     Javascripts
     ==========================================================================================================================================
    -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="../javascripts/animation.js"></script>
    <script src="../javascripts/functionality.js"></script>

  </body>

  <!--
   ==========================================================================================================================================
   Welcome Screen
   ==========================================================================================================================================
  -->



</html>
