<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- fonts for the page -->
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!-- Styling all cards and containers used on the page-->
    <link rel="stylesheet" href="../stylesheets/general.css">
    <!-- Styling all buttons and input boxes used on the page-->
    <link rel="stylesheet" href="../stylesheets/buttonsinputs.css">
    <!-- Styling all headers and text used on the page-->
    <link rel="stylesheet" href="../stylesheets/headerstext.css">
    <!-- Styling all cards and containers used on the page-->
    <link rel="stylesheet" href="../stylesheets/dashboardSpecs.css">

  </head>

  <body>

    <!--
     ==========================================================================================================================================
     Title
     ==========================================================================================================================================
    -->


    <!--
     ==========================================================================================================================================
     Selection Main Page Menu
     ==========================================================================================================================================
    -->

    <main class = "dashboard" id = "wrap">

      <!--
       ==========================================================================================================================================
       main side menu
       ==========================================================================================================================================
      -->
      <div class = "main menu side font-dark">

        <div class = " option-bar title hidden">
          <h1>
            TAMPA
          </h1>
        </div>

        <div class="option_bar hidden font-dark">

          <a class="option" href = "/home"> SERVICES </a>

          <a class="option" href = "#"> REPORTS </a>

          <a class="option" href = "#"> QUEUE </a>

        </div>

      </div>

      <!--
       ==========================================================================================================================================
       User Name
       ==========================================================================================================================================
      -->

      <div class="username">
       <h5><%= user.local.name %></h5>
       <nav class="my-2 my-md-0 mr-md-3">
           <a class="my-0 mr-md-auto text-dark dropdown" data-toggle="dropdown" href="#"><span class="fa fa-cog"></span >
           </a>
             <div class="dropdown-menu text-dark">
               <a class="p-2 logout links" href="/logout" onclick="clearCookies();"><span class="fa fa-unlock"></span> Log out</a>
             </div>
       </nav>
      </div>

      <div class = "main content feed">

        <!--
         ==========================================================================================================================================
         Welcome section
         ==========================================================================================================================================
        -->

        <div class = "welcome content-hidden" id = "welcome">
          <div class = "content-wrap">
            <ul class = "appear-text">
              <li>H</li>
              <li>e</li>
              <li>y</li>
              <li> </li>
              <% for(var i=0; i < (user.local.name.split(" ", 1)[0]).length; i++) { %>
               <li><%= (user.local.name.split(" ", 1))[0].charAt(i); %></li>
            <% } %>
            </ul>
          </div>
        </div>

        <!--
         ==========================================================================================================================================
         Services Dashboards
         ==========================================================================================================================================
        -->

        <div class = "content_section hidden container">

          <!--
           ==========================================================================================================================================
           section label
           ==========================================================================================================================================
          -->
          <h2 class = "label">
            FEED
          </h2>

          <% for(var i=0; i < results.data.length; i++) {%>
            <% if(results.data[i].picture == null){ %>
              <a class = "clickable" href = "<%= results.data[i].id %>">
                <div class="row post">

                  <div class=" navbar-collapse" id="navbarsExample02">

                    <% if(results.data[i].story != null){ %>
                      <p class = "complete-length story">
                        <%= results.data[i].story %>
                      </p>
                    <% } %>

                    <p class = "complete-length message">
                      <%= results.data[i].message %>
                    </p>

                    <div class="time right">
                      <p>
                        <%= results.data[i].created_time.replace("T", ' ').replace(/\+.+/, '').split(" ",2)[1].split(":",2)[0] %>
                        :
                        <%= results.data[i].created_time.replace("T", ' ').replace(/\+.+/, '').split(" ",2)[1].split(":",2)[1] %>
                      </p>
                    </div>
                  </div>
                </div>
              </a>
            <% } else { %>
              <a class = "clickable" href = "<%= results.data[i].id %>" id="post">
                <div class = "row post">

                  <% if(results.data[i].story != null){ %>
                    <p class = "complete-length story">
                      <%= results.data[i].story %>
                    </p>
                  <% } %>

                  <% for(var j=0; j < results.data[i].attachments.data.length; j++) {%>
                    <% if(results.data[i].attachments.data[j].subattachments != null){ %>
                      <% for(var k=0; k < results.data[i].attachments.data[j].subattachments.data.length; k++) {%>
                      <div class = "col-md-4">
                        <div class = "content_item">
                          <img src = "<%= results.data[i].attachments.data[j].subattachments.data[k].media.image.src %>">
                        </div>
                      </div>
                    <% } %>
                  <% } else { %>
                    <div class = "col-md-4 single">
                      <div class = "content_item">
                        <img src = "<%= results.data[i].attachments.data[j].media.image.src %>">
                      </div>
                    </div>
                  <% } %>
                <% } %>
                <p class = "complete-length message">
                  <%= results.data[i].message %>
                </p>
                <div class="time right">
                  <p>
                    <%= results.data[i].created_time.replace("T", ' ').replace(/\+.+/, '').split(" ",2)[1].split(":",2)[0] %>
                    :
                    <%= results.data[i].created_time.replace("T", ' ').replace(/\+.+/, '').split(" ",2)[1].split(":",2)[1] %>
                  </p>
                </div>
              </div>
            </a>
          <% } %>
        <% } %>


        <div class = "comment-section">
          <% for(var i = 0; i < results.data.length; i++) { %>
            <% if(results.data[i].comments != null) { %>
              <div class = "comment-list hidden <%= results.data[i].id %>" >
                <% for(var j = 0; j < results.data[i].comments.data.length; j++) { %>

                  <% if(results.data[i].comments.data[j].message != null) { %>
                    <div class = "message comments">

                      <div class="time right">
                        <p>
                          <%= results.data[i].comments.data[j].created_time.replace("T", ' ').replace(/\+.+/, '').split(" ",2)[1].split(":",2)[0] %>
                          :
                          <%= results.data[i].comments.data[j].created_time.replace("T", ' ').replace(/\+.+/, '').split(" ",2)[1].split(":",2)[1] %>
                        </p>
                      </div>

                      <% if(results.data[i].comments.data[j].from != null) { %>
                        <div class = "story small" >
                          <%= results.data[i].comments.data[j].from.name %>
                        </div>
                      <% } %>

                      <%= results.data[i].comments.data[j].message %>

                      <a class = "left reply-btn" href = "<%= results.data[i].id %>-<%= j %>">
                        reply
                      </a>
                        <div class = "reply reply-<%= results.data[i].id %>-<%= j %> hidden" >
                          <form class="reply-form" action = "" method = "/post">
                            <input class="form-control" value = "<%= results.data[i].comments.data[j].id %>" type="hidden" name = "comment-id">
                            <input class="form-control" placeholder="Reply" type="text">
                            <button class="btn my-2 my-sm-0" type="submit"><span class = "fas fa-location-arrow"></span></button>
                          </form>


                      </div>
                    </div>
                  <% } %>
                <% } %>
              </div>
            <% } %>
          <% } %>
        </div>




      </div>
    </main>

    <!--
     ==========================================================================================================================================
     Javascripts
     ==========================================================================================================================================
    -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="../javascripts/animation.js"></script>
    <script src="../javascripts/functionality.js"></script>

  </body>

  <!--
   ==========================================================================================================================================
   Welcome Screen
   ==========================================================================================================================================
  -->



</html>
