<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- fonts for the page -->
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!-- Styling all cards and containers used on the page-->
    <link rel="stylesheet" href="stylesheets/general.css">
    <!-- Styling all buttons and input boxes used on the page-->
    <link rel="stylesheet" href="stylesheets/buttonsinputs.css">
    <!-- Styling all headers and text used on the page-->
    <link rel="stylesheet" href="stylesheets/headerstext.css">
    <!-- Styling all cards and containers used on the page-->
    <link rel="stylesheet" href="stylesheets/dashboardSpecs.css">

  </head>

  <body onload="startTime()">

    <!--
     ==========================================================================================================================================
     Javascripts
     ==========================================================================================================================================
    -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="javascripts/animation.js"></script>
    <script src="javascripts/functionality.js"></script>

    <!--
     ==========================================================================================================================================
     Title
     ==========================================================================================================================================
    -->


    <!--
     ==========================================================================================================================================
     Selection Main Page Menu
     ==========================================================================================================================================
    -->

    <main class = "dashboard" id = "wrap">

      <!--
       ==========================================================================================================================================
       User Name
       ==========================================================================================================================================
      -->



      <div class = "main content">

        <!--
         ==========================================================================================================================================
         Dashboard Clock
         ==========================================================================================================================================
        -->

        <div class = "clock container content-hidden" id="clock">
        </div>

        <!--
         ==========================================================================================================================================
         Welcome section
         ==========================================================================================================================================
        -->

        <div class = "welcome container content-hidden" id = "welcome">
          <div class = "content-wrap">
            <ul class = "appear-text">
              <p>
                Hey <%= (user.facebook.name.split(" ", 1))[0] %>
              </p>
            </ul>
          </div>
        </div>

        <!--
         ==========================================================================================================================================
         Services Dashboards
         ==========================================================================================================================================
        -->

        <div class = "services container">
          <div class = "row">
            <div class = "col-md-4 content-hidden">
              <div class = "content_item facebook">

                <% if(user.facebook.id){ %>
                  <form method="POST" id = "facebook">
                    <input type = "hidden" id = "facebook-active" value = "true" />
                    <input type = "hidden" id = "facebook-id" value = "<%= fbid %>" />
                    <input type = "hidden" id = "facebook-token" value = "<%= fbtoken %>" />
                    <button type = "submit" class="logo fb fab fa-facebook-f btn-transparent"></button>
                  </form>

                <% }else{ %>
                  <a class=" logo fab fa-facebook-f" id = "fboption" href = "/auth/facebook"></a>
                  <% } %>

              </div>
            </div>

            <div class = "col-md-4 content-hidden">
              <div class = "content_item twitter">

                <% if(user.twitter.id){ %>
                  <a class="logo fab fa-twitter" href = "/twitter/accounts"></a>
                <% }else{ %>
                  <a class="logo fab fa-twitter" href = "/auth/twitter"></a>
                  <% } %>
              </div>
            </div>

            <div class = "col-md-4 content-hidden">
              <div class = "content_item google">

                <% if(user.google.id){ %>
                  <a class="logo fab fa-google" href = "/google/accounts"></a>
                <% }else{ %>
                  <a class="logo fab fa-google" href = "/auth/google"></a>
                  <% } %>
              </div>
            </div>
          </div>
          <div class = "row">

            <div class = "col-md-4 content-hidden">
              <div class = "content_item instagram">

                <% if(user.instagram.id){ %>
                  <a class="logo fab fa-instagram" href = "/instagram_feed"></a>
                <% }else{ %>
                  <a class="logo fab fa-instagram" href = "/auth/instagram"></a>
                <% } %>
              </div>
            </div>

            <div class = "col-md-4 content-hidden">
              <div class = "content_item pinterest">

                <% if(user.pinterest.id){ %>
                  <a class="logo fab fa-pinterest" href = "/pinterest/accounts"></a>
                <% }else{ %>
                  <a class="logo fab fa-pinterest" href = "/auth/pinterest"></a>
                  <% } %>
                </div>
              </div>

              <div class = "col-md-4 content-hidden">
                <div class = "content_item youtube">

                  <% if(user.instagram.id){ %>
                    <a class="logo fab fa-youtube" href = "/youtube/accounts"></a>
                  <% }else{ %>
                    <a class="logo fab fa-youtube" href = "/auth/youtube"></a>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>

        <!--
         ==========================================================================================================================================
         Workspace Area
         ==========================================================================================================================================
        -->

        <div class = "workspace content-hidden" id = "workspace">

          <div class = "column">
            <div class = "title">
              <h1>facebook</h1>
            </div>
            <div class = "selectPage">
              <p class = "subtitle">
                Select a page
              </p>
              <div class = "fbPages" id = "fbpages">
                <% for(var i = 0; i < results.data.length; i++ ) { %>
                  <button class = 'page' id = 'pagebtn' value = '<%= results.data[i].id %>' name = "<%= results.data[i].access_token %>">
                    <h3 style = 'color: white;'><%= results.data[i].name %></h3>
                  </button>
                <% } %>
              </div>
            </div>

            <div class = 'feed section content-hidden' id = 'feed'>
              <div class = "feedcontent" id = "feedcontent">

              </div>
            </div>

            <div class = "optionbar content-hidden">
              <ul>
                <li><a class = "feed-butn" href = ""><img src = "images/messenger.png"></a></li>
                <li><a class = "feed-butn" href = ""><img src = "images/feed.png"></a></li>
                <li><a class = "feed-butn" href = ""><img src = "images/feed.png"></a></li>
              </ul>
            </div>

          </div>

          <div class = "column">
            <div class = "title">
              <h1>Choose a Service</h1>
            </div>
            <div class = "selection">
              <a class = "fb" href = "" id = 'fb-btn'>facebook</a>
              <a class = "insta  insta" href = "">instagram</a>
              <a class = "twtr " href = "">twitter</a>
              <a class = "yt " href = "">youtube</a>
              <a class = "g " href = "">gmail</a>
              <a class = "pin " href = "">pinterest</a>
            </div>

          </div>

          </div>

        </div>
        <!--
         ==========================================================================================================================================
         Bottom menu
         ==========================================================================================================================================
        -->

        <div class="bottom menu">
           <a class="username text-dark" data-toggle="dropdown" href="#"> <%= user.local.name %>
           </a>
           <a class="links logout text-dark" href="/logout" onclick="clearCookies();"> Log out</a>
        </div>

      </div>

    </main>
  </body>

  <!--
   ==========================================================================================================================================
   Welcome Screen
   ==========================================================================================================================================
  -->



</html>
